websockets
tqdm
plyfile
icecream
dahuffman
training/submodules/diff-gaussian-rasterization_fluxgs
training/submodules/simple-knn
training/submodules/fused-ssim
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
--extra-index-url=https://pypi.nvidia.com
cudf-cu12==25.2.*
cuml-cu12==25.2.*
